@font-face {
   font-family: 'Geometria';
   font-style: normal;
   font-weight: normal;
   src: local('Geometria'), url('../fonts/Geometria.woff') format('woff');
   }
@font-face {
      font-family: 'Geometria-Medium';
      font-style: normal;
      font-weight: normal;
      src: local('Geometria-Medium'), url('../fonts/Geometria-Medium.woff') format('woff');
      }
      

 
 body {
   background-color: #94a6c034;
   font-family: 'Geometria';
 }  

.wrapper {
   min-height: 100%;
   overflow: hidden;
   margin: 7px;
}

.content__container {
   display: flex;
   flex-direction: row;
 
}
.header__container {
   .header__logo {
      margin-left: 38px;
      margin-top: 38px;
      margin-bottom: 45px;

      img {
         width: 20%;
      }
   }
}
.header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   min-width: 269px;
 
   .header__menu {
      margin: -28px 74px -28px 74px;
   }

   .menu__element {
      //font-size: 14px;
      padding: 28px 0 28px 0;
      
      a:hover {
         p {
            
            color: #69717f5e;
            transition: all 0.1s ease-in-out;
         }
      }
      p {
         color: #69717F;
      }
   }
}

.main {
   display: flex;
   flex-direction: column;
  // position: relative;
   background-color: #F2F3F9;
   border-radius: 10px;
   width: 100%;
   
   // &:first-child{
   //    z-index: 122;
   //   }

   .content__background {
      position: absolute;
      img {
         min-width: 100%;
         min-height: 668px;
         border-radius: 10px;
      }
   }
}


.main__content {
   margin-top: 199px;
   position: relative;
   z-index: 1000;
  
  
   .content__title {
   position: absolute;
   z-index: 20000;
   min-width: 100%;
    min-height: 100%;
    margin-top: -125px;
    
   }
   .content__info {
      margin-left: 120px;
      .info__title {
         max-width: 367px;
         font-family: 'Geometria-Medium';
         color: #14243b50;
         font-size: 38px;
      }
      
      .info__text {
      p{
            max-width: 390px;
            color: #25282d5d;
      }
      }

   }
  
}




.info__price {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   max-width: 429px;
   background-color: rgba(16, 33, 65, 0.25);;
   border-radius: 30px;
   padding: 14px 14px;
   margin-top: 30px;
   color: #FFF
}
.price__number {
}
.price__order {
}
.main__slider {
}
.footer {
}
.footer__search {
}
.footer__nav {
}
.footer__country {
}